:root {

    --h3-titles: rgba(255, 255, 255, .64);
    --section-color: rgb(20, 20, 20);
    --LighterGray: rgb(43, 43, 43);
    --Sections:  rgb(221, 221, 221);
    --backrground-general: rgb(19, 19, 19);
    --border-general: rgb(43, 43, 43);

    /*BLOG CATEGORIES */
    --red-color: #ff0000; /* red */
    --orange-color: #ffa500; /* orange */
    --yellow-color: #ffff00; /* yellow */
    --green-color: #00ff00; /* green */
    --blue-color: #0000ff; /* blue */
    --purple-color: #9500ff; /* indigo */

    --background-color-red: #990000; /* darker red */
    --background-color-orange: #582c00; /* darker orange */
    --background-color-yellow: #999900; /* darker yellow */
    --background-color-green: #003300; /* darker green */
    --background-color-blue: #000099; /* darker blue */
    --background-color-purple: #2e003e; /* darker indigo */
}

@font-face {
    font-family: 'satoshi';
    src: url('fonts/Satoshi_Complete/OTF/Satoshi-Regular.otf');
    font-weight: normal;
}

/* Fade in transitions (look at the main js)*/

.hidden {

    transform: translateY(2rem);
    transition: all 1s;
    opacity: 0;
}

.show {

    transform: translateY(0rem);
    opacity: 1;
    
}

/* Transition delay */

.delay150 { transition-delay: 150ms;}
.delay200 { transition-delay: 200ms;}
.delay250 { transition-delay: 250ms;}
.delay300 { transition-delay: 300ms;}
.delay350 { transition-delay: 350ms;}
.delay400 { transition-delay: 400ms;}
.delay450 { transition-delay: 450ms;}



* {

    box-sizing: border-box;

}

body {

    background-color: black;
    color: white;
    font-family: 'satoshi';
    margin: 0 auto;

}

.container {

    padding: 2rem;
    max-width: 90rem;
    margin: 0 auto;
 }

#logo {

    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

#logo:hover {

    color: white !important;
    
}
 
 
#navbar {

display: flex;
justify-content: space-between;
align-items: center; /* to align the logo inside the flex continer */
font-size: 0.85rem;
max-width: 75rem;
margin: 0 auto;

}

#navbar-container {

    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    transition: 0.3s;
}

/* navbar globe icon for translation */
#globe{

    max-width: 100%;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: -1rem;
    margin-right: 0.2rem;
    filter: invert(1);
}

.translation {

    display: flex;
    align-items: center;  
    margin-top: -0.1rem;  
}

/* style for the language options */
#language-select {

    color: white;
    background-color: transparent;
    border: 0;
}

#language-select option {

    color:  white;
    background-color: black;
}

#navbar a {

text-decoration: none;
color: white;
transition: 0.4s;

}

#navbar ul li  {

list-style-type: none;
float: right;
padding: 0.5rem;
}

#navbar a:hover {

color: gray;
transition: 0.4s;

}


#navbar span {

color: var(--h3-titles);
margin-left: 1rem;

}

/* navbar animation*/







/* hamburger button style */

#hamburger-button  {

    display: none;
    flex-direction: column;
    margin-top: 0.5rem;
}



.line {

    height: 3px;
    width: 32px;
    background-color: white;
    border-radius: 0.1rem;
    margin-bottom: 0.5rem;
}

/* titoli principali delle altre pagine*/
.hero-title {

    font-size: 12rem;
}

/* hero section homepage */

.hero-section h1 {

    max-width: 60rem;
}

.hero-section {

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 3rem 0 10rem 0;
    /* text styling */
    text-align: center;
    font-size: 1.8rem;
    animation: changeGreeting 1.5s ;
 }
 
 
 .hero-section p {
 
    text-align: center;
    display: block;
    color:  rgba(255, 255, 255, 0.6);
    font-size: 1.15rem;
    max-width: 45rem;
    margin-top: -1rem;
    margin-bottom: 2rem;
 }
 

/* keyframes for the greeting word animation in the home page */

@keyframes changeGreeting {
   
    from {

        opacity: 0;
        transform: translateY(-3rem);
        filter: blur(0.1rem);
    }

    to {

        opacity: 1;
        transform: translateY(0rem);
        filter: blur(0rem);
    }
}



.movingTitle {

    color: white;
    display: inline-block;
    animation: changeGreeting 2s infinite;
 }

/* styles for the form itself */

#custom-substack-embed {

    background: white;
    border: 1px solid #e5e5e5;
    border-radius: 6.25rem;
    padding: 5px 5px 5px 10px;
    height: 60px;
    
   
    
}

#custom-substack-embed input {
   
    font-size: 1.125rem;
    transition: 0.3s;
    padding: 10px 12px 10px 12px !important;
}


#custom-substack-embed form {

display: flex;
border: 0;

}

#custom-substack-embed button {

transition: 0.3s;
padding: 14px 28px;
border-radius: 99px;


}

#custom-substack-embed button:hover {

transition: 0.3s;
background-color: rgb(32, 32, 32);
} 


 /* newsletter homepage */

 .newsletter-promo {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 28.125rem;
    overflow: hidden;
    margin: 0;
 
 }
 
 
 .newsletter-promo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/hompage-newsletter-background.webp'); /* background image for thw newsletter promo*/
    background-size: cover;
    background-position: center;
    z-index: -1;
 }
 
 .newsletter-promo img {
  position: absolute;
  width: 58.75rem;
  height: 28.125rem;
  object-fit: cover;
  z-index: -2;
  
 }
 
 .newsletter-promo p {
   
    max-width: 30rem;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 2rem;
 }
 
 .newsletter-promo h2 {
 
   font-size: 2.5rem;
 }
 
 .newsletter-promo h2, p {
 
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.397);
 }

 /* freccetta bianca a forma di triangolo */
.section-url {

text-decoration: none;
color: rgb(255, 255, 255);
display: block;
padding-top: 2rem;
transition: 0.5s;
}

.section-url img {

max-width: 2.2rem;
margin-bottom: -0.85rem;    
height: 2rem !important; /* to overwrite the #work-section img, height propriety conflict */
filter: invert(1); /* it inverts the color of the svg arrow */
transition: 0.4s;
padding-top: 0rem !important; /* to not get in conflict with the #work-section proprieties*/

}

a.section-url:hover img {
    margin-left: 0.5rem; 
    transition: 0.4s;
}

div h3 {

    color: var(--h3-titles);
    font-weight: normal;
    font-size: 1.3rem;

}


/* link nero nella homepage (da nero a bianco)*/
.primary-btn, .secondary-btn {

  
    text-decoration: none;
    border-radius: 1rem;
    font-size: 1.1rem;
    padding: 12px 20px;
    font-weight: bold;
    letter-spacing: 0.05rem;
 }
 

.primary-btn {

   background-color: white;
   color: var(--backrground-general) !important;
   margin-right: 1rem;
   transition: 0.3s;
 
}

.primary-btn img {

    max-width: 100%;
    width: 1.3rem;
    height: 1.3rem;
    margin-bottom: -0.35rem;
    filter: invert(0.25);
    transition: 0.3s;

}

#navbar-container .primary-btn { /* the navbar colored button*/

    font-size: inherit;
}
 
/* shine / reflex effect when hovering button */



/* Move the arrow slightly to the right when the button is hovered */
.primary-btn:hover img {
    transform: translateX(3px);
    filter: invert(0);
    transition: transform 0.3s;
}

.secondary-btn {

    color: white;
    border: 1px solid var(--border-general);
    transition: 0.3s;
}

.secondary-btn:hover {

    transition: 0.5s;
    border: 1px solid gray;
}



/* newsletter generale*/



input {

    padding: 0.9rem;
    padding-right: 5rem;
    background-color: var(--LighterGray);
    color: rgb(221, 221, 221);
    border: 0px;
    border-radius: 0.3rem;
    font-size: 1rem;
    width: 100%;
    
}

form {

    margin-bottom: 2rem;
}

footer {

color: var(--h3-titles);
font-size: 0.9rem;
float: right;
padding: 1.2rem;

}


@media screen and (max-width: 75rem) {

    

    .hero-title {

    font-size: 9rem;
   
    }

    .movingTitle {

        font-size: inherit;
       
    }

}


/* media queries mainly for the homepage*/

@media screen and (min-width: 93.75rem) {

    .newsletter-promo { /* rende l'imaggine della newsletter più alta sugli schermi di grandi dimensioni*/
 
        min-height: 60rem;
        height: 28.125rem;
    
    
    }
 }
@media screen and (max-width: 52.188rem) {
    
    .hero-section h1 {

       font-size: 2.7rem;
    }
}

@media screen and (max-width: 44.688rem) {
    
   #navbar {

     position: fixed;
     z-index: 1000;
     width: 100%;
     background-color: black;
     padding: 1rem;
     top: 0; 
     left: 0;
     right: 0;
    
   }

   #navbar-container.show-nav {
    display: flex !important;
    transform: translateY(0%);
    opacity: 1;
    filter: blur(0rem);
   
    }

   
      /* Animation for the button on mobile */
    .button-active {

        transform: rotate(45deg);
        transition: 0.5s;

    }

    #hamburger-button.button-active .line:nth-child(1) {
        transform: translateY(8px) rotate(90deg);
    }
    
    #hamburger-button.button-active .line:nth-child(2) {
        transform: translateY(-3px) rotate(0deg);
    }
  

   .line {

    transition: all 0.3s ease;
   }

   .container {

     padding: 0;
   }
   
    #hamburger-button {

        display: flex;
        margin-right: 1rem;
        margin-top: 0.1rem;
    }

    #navbar-container {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        position: absolute; /* to turn sticky*/
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        height: 55vh;
        justify-content: center;
        margin-top: 3.5rem;
        background-color: black;
        /* transition */
        transform: translateY(-120%);
        opacity: 0;
        transition: 0.5s;
        filter: blur(0.1rem);
        
        
    }

    #navbar-container li {

        padding-top: 1.5rem !important;
        font-size: 1.1rem;
    }

    ul#navbar-container {

        padding: 0;
    }

    #navbar-container .primary-btn { /* the navbar colored button*/

     margin-right: 0;
    }

    li.translation {
         
     width: fit-content;
        margin: 0 auto;
    }
}



@media screen and (max-width: 37.5rem) {

  
    
 

    .hero-title {

        font-size: 4rem;
        text-align: center;
        display: block;
    }

    .movingTitle {

        font-size: inherit;
        text-align: center;

    }

    .hero-section h1 {

        font-size: 2rem;
     }

     .hero-section p {
 
        font-size: 16px;        
     }

    .container {

        padding: 1rem;
    }


}

@media screen and (max-width: 31.25rem) {
    
    .newsletter-promo p {
        
        max-width: 22rem;
       
     }
     
     .newsletter-promo h2 {
     
       font-size: 2rem;
     }
     
}

@media screen and (max-width: 25rem) {

    #custom-substack-embed form {

       flex-direction: column;
    }

    #custom-substack-embed {

        margin-bottom: 5rem;
       
    }

    #custom-substack-embed button {
       
        margin-top: 1.5rem;
    
    }

   #custom-substack-embed input {

    flex: 1 1 auto;
   }
}
