:root {

    --h3-titles: rgba(255, 255, 255, .64);
    --section-color: rgb(20, 20, 20);
    --orangeJustice: rgb(251, 81, 0);
    --LighterGray: rgb(43, 43, 43);
    --Sections:  rgb(221, 221, 221);
}

/* Fade in transitions (look at the main js)*/

.hidden {

    transform: translateY(2rem);
    transition: all 1s;
    opacity: 0;
}

.show {

    transform: translateY(0rem);
    opacity: 1;
    
}

/* Transition delay */

.delay150 { transition-delay: 150ms;}
.delay200 { transition-delay: 200ms;}
.delay250 { transition-delay: 250ms;}
.delay300 { transition-delay: 300ms;}
.delay350 { transition-delay: 350ms;}


@font-face {
    font-family: 'satoshi';
    src: url('fonts/Satoshi_Complete/OTF/Satoshi-Regular.otf');
    font-weight: normal;
}

* {

    box-sizing: border-box;

}

body {

    background-color: black;
    color: white;
    font-family: 'satoshi';
    margin: 0 auto;

}

.container {

    padding: 2rem;
    max-width: 90rem;
    margin: 0 auto;
 }
 

#navbar {

display: flex;
justify-content: space-between;
align-items: center; /* to align the logo inside the flex continer */
font-size: 0.85rem;


}

#navbar a {

text-decoration: none;
color: white;
transition: 0.4s;

}

#navbar ul li  {

list-style-type: none;
float: right;
padding: 0.5rem;
}

#navbar a:hover {

color: gray;
transition: 0.4s;


}



#navbar span {

color: var(--h3-titles);
margin-left: 1rem;

}

/* titoli principali delle altre pagine*/
.hero-title {

    font-size: 12rem;
}

/* hero section homepage */

.hero-section {

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 87px 0;
    /* text styling */
    text-align: center;
    font-size: 2rem;
    animation: changeGreeting 2s ;
 }
 
 
 .hero-section p {
 
    text-align: center;
    display: block;
    color:  rgba(255, 255, 255, 0.6);
    font-size: 17px;
    max-width: 900px;
    margin-top: -1rem;
    margin-bottom: 2rem;
 }
 

/* keyframes for the greeting word animation in the home page */

@keyframes changeGreeting {
   
    from {

        opacity: 0;
        transform: translateY(-3rem);
        filter: blur(0.1rem);
    }

    to {

        opacity: 1;
        transform: translateY(0rem);
        filter: blur(0rem);
    }
}



.movingTitle {

    color: white;
    animation: changeGreeting 2s infinite;
 }


 /* newsletter homepage */

 .newsletter-promo {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 28.125rem;
    overflow: hidden;
    margin: 0;
 
 }
 
 
 .newsletter-promo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/hompage-newsletter-background.webp'); /* background image for thw newsletter promo*/
    background-size: cover;
    background-position: center;
    z-index: -1;
 }
 
 .newsletter-promo img {
  position: absolute;
  width: 58.75rem;
  height: 28.125rem;
  object-fit: cover;
  z-index: -2;
  
 }
 
 .newsletter-promo p {
   
    max-width: 30rem;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 2rem;
 }
 
 .newsletter-promo h2 {
 
   font-size: 2.5rem;
 }
 
 .newsletter-promo h2, p {
 
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.397);
 }

 /* freccetta bianca a forma di triangolo */
.section-url {

text-decoration: none;
color: rgb(255, 255, 255);
display: block;
padding-top: 2rem;
transition: 0.5s;
}

.section-url img {

max-width: 2.2rem;
margin-bottom: -0.85rem;    
height: 2rem !important; /* to overwrite the #work-section img, height propriety conflict */
filter: invert(1); /* it inverts the color of the svg arrow */
transition: 0.4s;
padding-top: 0rem !important; /* to not get in conflict with the #work-section proprieties*/

}

a.section-url:hover img {
    margin-left: 0.5rem; 
    transition: 0.4s;
}

div h3 {

    color: var(--h3-titles);
    font-weight: normal;
    font-size: 1.3rem;

}


/* link nero nella homepage (da nero a bianco)*/
.general-link {

    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-family:  "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
    background-image: linear-gradient(rgb(23, 24, 25), rgb(13, 14, 14));
    border-radius: 21px;
    padding: 12px 21px;
    display: block;
    margin: 0 auto;
    width: fit-content;
    transition: 0.5s;   
 
 
 }
 
 .general-link:hover {
 
    background-image: linear-gradient(rgb(248, 248, 248), rgb(187, 187, 187));
    transition: 0.5s;
    color: rgba(0, 0, 0, 0.623);
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
 }

/* Latest Blog articles */


.blog-section a {

    text-decoration: none;
 }
 
 
 .blog-section {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* Adjusted width */
    grid-gap: 30px;
    margin-bottom: 2rem;
 }
 

.blog-section img {
    
    width: 100%;
    height: 25rem;
    object-fit: cover;
    border-radius: 0.5rem;
    transition: 0.5s;

}

.blog-section img:hover {
    
    filter: brightness(0.6);
    transition: 0.5s;
}

.blog-hover-animation h2{

    color:rgb(255, 255, 255);
    font-size: 1.3rem;
 }
 
 .blog-hover-animation p, span{
 
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    margin-right: 1rem;
    margin-top: -0.1rem;
 }
 
 .blog-hover-animation p {
 
    text-decoration: none;
    background-color: transparent;
    padding: 8px 17px;
    border-radius: 21px;
    border: 0.05rem solid  rgba(255, 255, 255, 0.6);
    letter-spacing: 0.09rem;
    width: fit-content;
 }



/* newsletter generale*/

#signUp {

text-decoration: none;
color: white;
text-align: center;
font-size: 1rem;
background-color: var(--orangeJustice);
padding: 1rem 4.5rem 1rem 4.5rem; 
border-radius: 0.5rem;
font-weight: bold;
display: block;
width: 100%;
transition: 0.2s;

}

#signUp:hover {

    background-color: rgb(196, 62, 0);
    transition: 0.3s;
}

input {

    padding: 0.9rem;
    padding-right: 5rem;
    background-color: var(--LighterGray);
    color: rgb(221, 221, 221);
    border: 0px;
    border-radius: 0.3rem;
    font-size: 1rem;
    width: 100%;
    
}

form {

    margin-bottom: 2rem;
}

footer {

color: var(--h3-titles);
font-size: 0.9rem;
float: right;
padding: 1.2rem;

}

.sections {

    color: var(--Sections);
    font-size: 1.4rem;
    background-color: var(--section-color);
    padding: 25px;
    width: 100%;
    overflow: hidden;
    
    /**/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
   
}


@media screen and (max-width: 75rem) {

    

    .hero-title {

    font-size: 9rem;
   
    }

    .movingTitle {

        font-size: inherit;
       
    }

}

/* media queries mainly for the homepage*/

@media screen and (min-width: 93.75rem) {

    .newsletter-promo { /* rende l'imaggine della newsletter più alta sugli schermi di grandi dimensioni*/
 
        min-height: 60rem;
        height: 28.125rem;
    
    
    }
 }
@media screen and (max-width: 52.188rem) {
    
    .hero-section h1 {

       font-size: 3rem;
    }
}

@media screen and (max-width: 42.813rem) {
    
    .blog-section {
        
        grid-template-columns: repeat(1, minmax(0, 1fr)); /* Adjusted width */
       
     }

     .blog-section img {

        height: auto;
     }
     
}

@media screen and (max-width: 37.5rem) {

  
    
    #navbar span {

     display: none;

    }

    #navbar:first-child {

        display: block;
        text-align: center;
    }

    .navbar-container {
      
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .hero-title {

        font-size: 4rem;
        text-align: center;
        display: block;
    }

    .movingTitle {

        font-size: inherit;
        text-align: center;

    }

    .hero-section h1 {

        font-size: 2rem;
     }

     .hero-section p {
 
        font-size: 16px;        
     }

    .container {

        padding: 1rem;
    }


}

@media screen and (max-width: 31.25rem) {
    
    .newsletter-promo p {
        
        max-width: 22rem;
       
     }
     
     .newsletter-promo h2 {
     
       font-size: 2rem;
     }
     
}
