:root {

    --h3-titles: rgba(255, 255, 255, .64);
    --section-color: rgb(20, 20, 20);
    --orangeJustice: rgb(251, 81, 0);
    --LighterGray: rgb(43, 43, 43);
    --Sections:  rgb(221, 221, 221);
}

/* Fade in transitions (look at the main js)*/

.hidden {

    transform: translateY(2rem);
    transition: all 1s;
    opacity: 0;
}

.show {

    transform: translateY(0rem);
    opacity: 1;
    
}

/* Transition delay */

.delay150 { transition-delay: 150ms;}
.delay200 { transition-delay: 200ms;}
.delay250 { transition-delay: 250ms;}
.delay300 { transition-delay: 300ms;}
.delay350 { transition-delay: 350ms;}


@font-face {
    font-family: 'satoshi';
    src: url('fonts/Satoshi_Complete/OTF/Satoshi-Regular.otf');
    font-weight: normal;
}

* {

    box-sizing: border-box;

}

body {

    background-color: black;
    color: white;
    font-family: 'satoshi';
    padding: 2rem;
    max-width: 90rem;
    margin: auto;

}

#navbar {

display: flex;
justify-content: space-between;
align-items: center; /* to align the logo inside the flex continer */
font-size: 0.85rem;
margin-bottom: 10rem;

}

#navbar a {

text-decoration: none;
color: white;
transition: 0.4s;

}

#navbar ul li  {

list-style-type: none;
float: right;
padding: 0.5rem;
}

#navbar a:hover {

color: gray;
transition: 0.4s;


}



#navbar span {

color: var(--h3-titles);
margin-left: 1rem;

}



/* keyframes for the greeting word animation in the home page */

@keyframes changeGreeting {
   
    from {

        opacity: 0;
        transform: translateY(-3rem);
        filter: blur(0.1rem);
    }

    to {

        opacity: 1;
        transform: translateY(0rem);
        filter: blur(0rem);
    }
}

.movingTitle {

font-size: 14rem;
font-weight: bolder;
display: block;
animation: changeGreeting 2s infinite;

}

.hero-title {

    font-size: 14rem;
    font-weight: bolder;
}


.hero-image {

width:100%;
max-width:100%;
height: 35rem;
object-fit: cover; /* per non distorcere le immagini*/
display: block;
margin: auto;
grid-area: mainImage;

}




.section-url {

text-decoration: none;
color: rgb(255, 255, 255);
display: block;
padding-top: 2rem;
transition: 0.5s;
}

.section-url img {

max-width: 2.2rem;
margin-bottom: -0.85rem;
height: 2rem !important; /* to overwrite the #work-section img, height propriety conflict */
filter: invert(1); /* it inverts the color of the svg arrow */
transition: 0.4s;
padding-top: 0rem !important; /* to not get in conflict with the #work-section proprieties*/

}

a.section-url:hover img {
    margin-left: 0.5rem; 
    transition: 0.4s;
}

div h3 {

    color: var(--h3-titles);
    font-weight: normal;
    font-size: 1.3rem;

}

#grid-container {

    display: grid;
    gap: 2rem;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(3,minmax(200px,1fr));
    grid-template-rows: repeat(2,min-content);
    grid-template-areas: 
    
        "mainImage mainImage mainImage"
        "about about aboutSmall"
        "blog1 blog2 blog3"
        "contact contact contactSmall"
    ;
}

.about-1 {grid-area: about;}
.about-2 {grid-area: aboutSmall;}
.contact-1 {grid-area: contact;}
.contact-2 {grid-area: contactSmall;}
.blog-section a:nth-of-type(1) {grid-area: blog1;}
.blog-section a:nth-of-type(2) {grid-area: blog2;}
.blog-section a:nth-of-type(3) {grid-area: blog3;}

/* Latest Blog articles */


.blog-section img {

    max-width: 100%;
    width: 30rem;
    height: 100%;
    border-radius: 0.3rem;
}



/* newsletter */

#signUp {

text-decoration: none;
color: white;
text-align: center;
font-size: 1rem;
background-color: var(--orangeJustice);
padding: 1rem 4.5rem 1rem 4.5rem; 
border-radius: 0.5rem;
font-weight: bold;
display: block;
transition: 0.2s;

}

#signUp:hover {

    background-color: rgb(196, 62, 0);
    transition: 0.3s;
}

input {

    padding: 0.9rem;
    padding-right: 5rem;
    background-color: var(--LighterGray);
    color: rgb(221, 221, 221);
    border: 0px;
    border-radius: 0.3rem;
    font-size: 1rem;
    width: 100%;
    
}

form {

    margin-bottom: 2rem;
}

footer {

color: var(--h3-titles);
font-size: 0.9rem;
float: right;
padding: 1.2rem;

}

.sections {

    color: var(--Sections);
    font-size: 1.4rem;
    background-color: var(--section-color);
    padding: 25px;
    width: 100%;
    overflow: hidden;
    
    /**/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
   
}

@media screen and (max-width: 81.875rem) {
    
        .work-section img {
        
        width: 100%;
        height: 18rem;
        object-fit: cover;
        padding-top: 1.5rem;
        
    }
}

@media screen and (max-width: 75rem) {

    #grid-container {


    grid-template-columns: repeat(2,minmax(200px,1fr));
    grid-template-rows: repeat(2,min-content);
    grid-template-areas: 

        "mainImage mainImage mainImage"
        "about about about"
        "aboutSmall aboutSmall aboutSmall"
        "blog blog blog"
        "contact contact contact"
        "contactSmall contactSmall contactSmall"
    ;
    }

    .hero-title {

    font-size: 9rem;
   

    }

    .hero-image {

    
    height: 30rem;

    }

}

@media screen and (max-width: 37.5rem) {

    #grid-container {

        grid-template-columns: repeat(auto-fill, minmax(200px,1fr)); /* autofill prevents the grid elements from overflowing the grid container in smaller screens*/

    }
    
    #navbar span {

     display: none;

    }

    #navbar:first-child {

        display: block;
        text-align: center;
    }

    .navbar-container {
      
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .hero-title {

        font-size: 5rem;
        text-align: center;
        display: block;
    }

    body {

        padding: 1rem;
    }


}
